@import "tailwindcss";

@theme {
  /* fonts */
  --font-primary: "Saira Condensed", sans-serif;
  --font-secondary: "Quintessential", serif;;
  /* Colors */
  --color-primary: #FFFFFF;
  --color-secondary: #000000;
  --color-accent: #FF6347;


}