/* font-family: "Quintessential", serif; */
/* font-family: "Saira Condensed", sans-serif */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Saira Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eae8e8;
  color: #333;
}
header {
  background-image: url('../IMAGES/golden-cutlery.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 750px;
}
nav{
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 100px;
  width: 90%;
  margin: auto;
}
.nav-logo{
  display: flex;
  align-items: center;
}
.nav-logo img{
  height: 150px;
  width: 150px;
}
.nav-logo h1{
  font-family: 'Quintessential', serif;
  font-size: 24px;
  margin-left: -20px;
}
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}
.nav-links li a {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 500;
}
.nav-links li a:hover {
  color: #ff6347;
}
.nav-links li a::after{
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transform-origin: center;
  width: 150%;
  height: 2px;
  background: #ff6347;
  transition: transform 0.4s ease;
}
.nav-links li a:hover::after{
  transform: translateX(-50%) scaleX(1);
}
.navbar-button-inside{
  display: none;
}
.nav-button, .nav-button-II{
  padding: 20px 30px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: all 0.3s ease;
} 
.nav-button:hover, .nav-button-II:hover {
  background-color: transparent;
  border: 1px solid #ff6347;
}
.sides-open-close{
  display: none;
  font-size: 28px;
  cursor: pointer;
  transition: transform 0.5s ease;
  position: relative;
} 
.side-open{
  position: absolute;
  transition: all 0.5s ease;
}
.side-close{
  opacity: 0;
  pointer-events: none;
}
.nav-more-buttons{
  padding: 15px 30px;
}
.nav-hero-text{
  margin-top: 130px;
}
@media (max-width: 1100px) {
  nav{
  top: 0;
  }
.navbar {
  width: 100%;
 
}
  .nav-button-II {
    display: none;
  }
  .navbar-button-inside{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }
  .sides-open-close {
    display: block;
  }
  .nav-menu{
    background: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    right: -100%;
    top: 100px;
    z-index: 100;
    transition: all 0.4s ease;
  }
  nav.active .navbar .nav-menu{
    right: 0;
  }
  .nav-links{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
  } 
   .nav-links li a{
    font-size: 20px;
    margin: 10px 0;
  }
  .sides-open-close{
    display: flex;
  }
  .sides-open-close.active .side-open{
    opacity: 0;
    pointer-events: none;
  }
  .sides-open-close.active .side-close{
    opacity: 1;
    pointer-events: auto;
  }
}
@media (max-width: 460px) {
  .nav-logo img{
    height: 110px;
    width: 110px;
  }
  .nav-logo h1{
    font-size: 20px;
    margin-left: -30px;
  }
}