.testimonial{
  margin-bottom: 100px;
  background-image: url('../IMAGES/testimonial\ background.jpg');
  background-size: fill;
  height: 400px;
}
.test-title{
  font-family: "Quintessential", serif;;
  text-align: center;
  color: #FF6347;
  font-size: 60px;
  padding-top: 50px;
}
.test-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 80%;
  margin: 20px auto;
} 
.test-name{
  font-size: 30px;
  color: gray;
  cursor: grab;
}
 .test-note{
  cursor: grab;
 }

@media (max-width: 1024px) {
  .test-container{
    max-width: 95%;
  }
}

@media (max-width: 800px) {
  .test-title{
    font-size: 40px;
  }
  .icons-click {
    font-size: 0;
  }
}

@media (max-width: 480px) {
  .test-name{
    font-size: 25px;
  }
  .test-note{
    font-size: 17px;
  }
}